/.ddev/.env
/.ddev/config.local.yaml

.lando.local.yml

/artifacts/
/bin/

/web/core/
/web/vendor
/web/libraries/
/web/autoload.php
/web/composer.json
/web/composer.lock
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README*
/web/robots.txt
/web/update.php
/web/web.config
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.htaccess
/web/.ht.router.php

/web/modules/contrib/
/web/modules/README.txt

/web/profiles/contrib/
/web/profiles/README.txt

/web/sites/*example*.php
/web/sites/development.services.yml
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private
/web/sites/*/*drush*.yml
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache
/web/sites/README.txt

/web/themes/contrib/
/web/themes/custom/*/.bundle/
/web/themes/custom/*/node_modules/
/web/themes/custom/*/bootstrap/
/web/themes/custom/*/css/
/web/themes/custom/*/dist/
/web/themes/README.txt

/drush/Commands/contrib/
/drush/drush.local.yml

/sites/*/backup/
/sites/*/php_storage/
/sites/*/keys/
/sites/*/private/
/sites/*/temporary/
/sites/*/hash_salt.txt

/reports/

/tmp/

/vendor
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal

.idea

composer.lock
