parameters:
  level: 8
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  paths:
    - web/modules/custom
    - web/themes/custom
    - tests/src
  excludePaths:
    - tests/src/data/*.php
    - tests/src/Type/data/*.php
    - tests/src/Rules/data/*.php
    - tests/src/DeprecatedScope/data/*.php
  dynamicConstantNames:
    - Drupal::VERSION
